doctype html
include ../../../static/assets/lib/pug/ldui.pug
include ../../../static/assets/anikit/anikit.pug
html(lang="en")
  head
    meta(charset="utf-8")
    link(href="https://fonts.googleapis.com/css?family=Oxygen:300,700|Roboto:300,500,700|BenchNine|Varela+Round&display=swap", rel="stylesheet")
    +css("../assets/lib/bootstrap.min.css")
    +css("../assets/lib/ldui.min.css")
    +css("../assets/anikit/anikit.bundle.min.css")
    +css("../css/index.css")
  body
    .p-4.h-100
      .row.h-100
        .col-md-8.h-100
          textarea.form-control.bg-dark.text-white.code-block.text-sm.h-100
        .col-md-4.text-center
          .card.position-absolute(style="width:calc(100% - 30px)"): .card-body
            select#select.form-control.mb-4
            .ldrs
          .vertical-center
            .block(style="width:128px;height:128px;border-radius:3px;background:#222")

    +script("../assets/lib/livescript-min.js")
    +script("../assets/lib/three.min.js")
    +script("../assets/lib/three-bundle.min.js")
    +script("../assets/lib/bootstrap.native.v4.min.js")
    +script("../assets/lib/ldui.min.js")
    +script("../assets/anikit/anikit.util.min.js")
    +script("../assets/anikit/anikit.bundle.min.js")
    +script("../js/work/blink-alt.js")
    +script("../js/work/index.js")
