.anikits
  display: flex
  flex-wrap: wrap

.anikit
  .demo
    width: 48px
    height: 48px
    display: inline-block
  .ld
    display: inline-block
    width: 36px
    height: 36px
    border: 24px solid transparent
    border-radius: 50%
    background: #09f
    border-top-color: #fff
    animation-iteration-count: infinite!important
    display: none
  &:hover .ld
    animation-play-state: running
    display: block
  &.disabled { background: #f9fafb; color: #ccc; }
  &.disabled .ld { border-top-color:#f9fafb; background: #ccc; }

.anikits .anikit
  flex: 0 0 88px
  text-align: center
  font-size: 12px
  margin: 20px
  width: 88px
  height: 84px
  padding: 3px
  overflow: hidden
  cursor: pointer
  .demo
    display: block
    margin: auto
  .inner
    transform: scale(.5)
  .ld
    animation-play-state: running
    display: block
  &:hover
    background: #09f
    color: #fff
    .ld
      background: #fff
      border-top-color: #09f
  span { width: 120px; position: relative; left: -19px; display: block }

.anikit.dropdown-item
  &.disabled
    background: #f9fafb
    color: #ccc
  &.limited
    background: #f9fafb
  &.limited:hover
    span:after
      opacity: 0.5
      display: inline
      margin-left: 3px
      content: "\e90b"
      vertical-align: middle
      font-family: ldi
  .demo .inner { transform: scale(0.3); position: absolute; bottom: 0; top: 0;left: 0;right: 0;margin: -5px auto 0;}
  .demo { width: 16px; height: 16px; display: inline-block; position: relative; float: right }


