doctype html
html
  head
    link(rel="stylesheet",type="text/css",href="index.css")
    link(rel="stylesheet",type="text/css",href="anikit.bundle.min.css")
    link(rel="Stylesheet",type="text/css",href="lib/ion-rangeslider/2.1.7/css/ion.rangeSlider.css")
    link(rel="Stylesheet",type="text/css",href="lib/ion-rangeslider/2.1.7/css/ion.rangeSlider.skinFlat.css")
  body
    #title.ld.ld-breath Anikit
    .form
      select#select
        option(value="static") static
    #root
      .cell: .tomato.css
      .cell
        .ctrl: input.slider
        .tomato.js
        .reflayer: .tomato.css.ref
      .cell
        .ctrl: input.slider
        .tomato.webgl
        .reflayer: .tomato.css.ref
      .cell
        .ctrl: input.slider
        .tomato.three
        .reflayer: .tomato.css.ref

  script(src="lib/three.min.js")
  script(src="lib/three-bundle.min.js")
  script(src="lib/jquery.min.js")
  script(src="lib/ion-rangeslider/2.1.7/js/ion.rangeSlider.min.js")
  script(src="lib/shader.min.js")
  script(src="anikit.bundle.min.js")
  script(src="index.js")
