doctype html
html
  head
    link(rel="stylesheet",type="text/css",href="index.css")
  body
    #root
      .cell: .tomato.css
      .cell: .tomato.js
      .cell: .tomato.webgl

  script(src="lib/shader.min.js")
  script(src="anikit.js")
  script(src="index.js")
